MODEL_PROVIDER=openai
MODEL_NAME=gpt-4o
OPENAI_API_KEY=your_openai_key_here

LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=your_langsmith_key_here
LANGCHAIN_PROJECT=stem-agent

MODEL_NAME_CHEAP=gpt-4o-mini
MODEL_NAME_STRONG=gpt-4o
